body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header, ul, .hero, .left {
    display: flex;
}

.header {    
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    padding: 30px 300px;
}

.header ul, .sub {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400;
}

ul {
    list-style-type: none;
    margin: 0;
    gap: 30px;
    align-items: center;
}

.hero {
    background-color: #1F2937;
    justify-content: space-between;
    padding: 150px 300px;
}

.left {
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;    
}

.main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
    padding: 8px 36px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}